
<h2 class="text-4xl text-center font-extrabold pb-10 opacity-90">Experience</h2>
<div class="card" id="card">
    <div class="content">
        <slot />
    </div>
</div>

<style>


.card {
  width: 740px;
  height: 304px;
  background:  #bbadff94;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
  border-radius: 30px;

}

.card .content {
  background:  #09051e;
  width: 736px;
  height: 300px;
  z-index: 1;
  padding: 20px;
  color: white;
  display: flex;
  border-radius: 30px;
justify-content: center;
  align-items: center;
}

.content::before {
  opacity: 0;
  transition: opacity 300ms;
  content: " ";
  display: block;
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  filter: blur(150px);
  overflow: hidden;
}

.card:hover .content::before {
  opacity: 1;
}

.card::before {
  opacity: 0;
  content: " ";
  position: absolute;
  display: block;
  width: 580px;
  height: 310px;
  background: linear-gradient(#ff2288, #387ef0);
  transition: opacity 300ms;
  animation: rotation_9018 8000ms infinite linear;
  animation-play-state: paused;
}

.card:hover::before {
  opacity: 1;
  animation-play-state: running;
}

.card::after {
  position: absolute;
  content: " ";
  display: block;
  width: 740px;
  height: 560px;
  background: #17171733;
  backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  .card {
    max-width: 450px;
    width: 100%;
    height: auto;
    flex-direction: column; /* Opcional, si el contenido necesita apilarse */
  }

  .card .content {
    max-width: 446px;
    width: 100%;
    height: auto;
    flex-direction: column; /* Opcional, para el contenido interno */

  }
  .content{
    margin: 2.5px;
  }
}

</style>