<header class="flex justify-between m-auto items-center w-[1120px] pb-3 text-white ">
    <div class="flex items-center">
        <img class="flex w-[200px] h-[200px] opacity-90" src="/personal_logo_white.webp" alt="avatar of the portfolio of Simão Santos"/>
    </div>

    <nav class="opacity-90 flex gap-6 text-lg ">
        <a href="/" class="hover:text-yellow-500">Home</a>
        <a href="#Experience" class="hover:text-yellow-500">Experience</a>
        <a href="#Projects" class="hover:text-yellow-500">Projects</a>
        <a href="#Stack" class="hover:text-yellow-500">Stack</a>
        <a href="#Contact" class="hover:text-yellow-500">Contact me</a>
    </nav>
</header>
