<header class="flex justify-between m-auto items-center w-[1120px] py-3 text-white ">
    <div class="flex items-center">
        <img class="rounded-full flex w-12 h-12" src="../../public/avatar.webp" alt="avatar of the portfolio of Simão Santos"/>
        <h1 class="pl-2 opacity-90">Simão Santos</h1>
    </div>

    <nav class="opacity-90">
        <a class="p-6" href="/">Home</a>
        <a href="/contact">Contact</a>
    </nav>
</header>