 <button class="rounded-2xl bg-transparent  p-2.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700  active:shadow-none " type="button">
    <slot />
  </button>

   <!-- bg-[radial-gradient(circle_farthest-side,#44a8b3,rgba(255,255,255,0))] -->