<div >
    <span class="text-2xl">Hey, I'm</span>
    <h1 class="text-5xl font-bold">Simão Santos</h1>
    <h2 class="text-2xl font-serif text-yellow-500">FullStack Developer</h2>
    <p class="pt-6 pb-3">Transforming ideas into reality through clean code and innovative solutions.</p>
    <footer class="flex items-center gap-3">
        <button class="group relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
            
            <span class=" flex items-center gap-2 relative px-3 py-1.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
            
                <svg width="24px" height="24px" viewBox="0 0 32 32" version="1.1">
                    <g id="surface1">
                    <path class="fill-white group-hover:fill-black transition-colors duration-200" d="M 21.207031 21.523438 C 21.46875 21.78125 21.472656 22.203125 21.214844 22.464844 L 17.863281 25.894531 C 17.355469 26.402344 16.6875 26.660156 16.023438 26.664062 C 15.359375 26.660156 14.648438 26.402344 14.140625 25.898438 L 10.78125 22.464844 C 10.523438 22.203125 10.53125 21.78125 10.792969 21.523438 C 11.058594 21.265625 11.480469 21.273438 11.734375 21.535156 L 15.089844 24.960938 C 15.164062 25.035156 15.246094 25.097656 15.332031 25.152344 L 15.332031 15.335938 C 15.332031 14.964844 15.632812 14.667969 16 14.667969 C 16.367188 14.667969 16.667969 14.964844 16.667969 15.335938 L 16.667969 25.152344 C 16.753906 25.097656 16.839844 25.035156 16.914062 24.957031 L 20.265625 21.535156 C 20.519531 21.273438 20.945312 21.269531 21.207031 21.523438 Z M 29.332031 13.316406 L 29.332031 26 C 29.332031 29.308594 26.640625 32 23.332031 32 L 8.667969 32 C 5.359375 32 2.667969 29.308594 2.667969 26 L 2.667969 6 C 2.667969 2.691406 5.359375 0 8.667969 0 L 16.019531 0 C 18.332031 0 20.511719 0.902344 22.148438 2.539062 L 26.792969 7.183594 C 28.433594 8.820312 29.332031 10.996094 29.332031 13.3125 Z M 18.667969 8.667969 C 18.667969 9.769531 19.5625 10.667969 20.667969 10.667969 L 27.507812 10.667969 C 27.144531 9.726562 26.585938 8.863281 25.851562 8.128906 L 21.207031 3.484375 C 20.46875 2.746094 19.605469 2.1875 18.667969 1.824219 Z M 28 13.316406 C 28 12.871094 27.960938 12.429688 27.882812 12 L 20.667969 12 C 18.828125 12 17.332031 10.503906 17.332031 8.667969 L 17.332031 1.449219 C 16.902344 1.375 16.464844 1.332031 16.019531 1.332031 L 8.667969 1.332031 C 6.09375 1.332031 4 3.425781 4 6 L 4 26 C 4 28.574219 6.09375 30.667969 8.667969 30.667969 L 23.332031 30.667969 C 25.90625 30.667969 28 28.574219 28 26 L 28 13.3125 Z M 16.023438 26.667969 C 16.015625 26.667969 16.035156 26.667969 16.023438 26.667969 Z M 16.023438 26.667969 "/>
                    </g>
                </svg>
            
                Download CV
            </span>
        </button>
        <button class="hover:scale-150">
            <span class="[&>svg]:h-6 [&>svg]:w-6">
                <svg
                    fill="currentColor"
                    viewBox="0 0 496 512">
                    <path
                    d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
                </svg>
            </span>
        </button>
        <button class="hover:scale-150">
            <span class="[&>svg]:h-6 [&>svg]:w-6">
                <svg
                    fill="currentColor"
                    viewBox="0 0 448 512">
                    <path
                    d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" />
                </svg>
            </span>
        </button>

    </footer>
</div>
<img class="rounded-full flex w-85 h-85 ml-10" src="../../public/avatar.webp" alt="Image of Simão Santos"/>